<h2>Project overview</h2>

<p>Welcome to ZTest Extractor! Before you do anything you must configure the database settings so that I can fetch data from your Jira/Zephy instance!</p>
<p>Please go to the @Html.ActionLink("configuration area", "Configure", "Home", new { area = "" }) quickly!</p>